@media screen and (min-width: 480px) {
  
  /**********************************
  TWO COLUMN LAYOUT
  ***********************************/
  
  #primary {
    width: 50%;
    float: left;
  }
  
  #secondary {
    width: 40%;
    float: right;
  }
    
  .aParent div {
  float: left;
  clear: none; 
}

  .left {
    width: 50%;
    float: left;
  }
  
  .right {
    width: 40%;
    float: right;
    margin-left: 10px;
  }
  .break {
    clear:both;
  }
    
.home li {
  display: block;
  margin: 10px;
    }
    
nav {
  text-align: center;
  margin: 0 auto;
  width:100%;
}

}

@media screen and (min-width: 660px) {

  /**********************************
  HEADER
  ***********************************/
 nav {
    background: none;
    float: left;
    font-size: 1.125em;
    margin-right: 5%;
    text-align: center;
    width: 100%;
  }
  
 .home {
    background: none;
    float: left;
    font-size: 1.125em;
    margin-right: 5%;
    text-align: left;
    width: 45%;
  }

.home li {
  display: block;
  margin: 10px;
}

  header {
    margin-bottom: 5px;
  }
    
  #directions{
    margin-top: 5%;
  }

  .head{
    width: 60%;
    float: right;  
  }
    
  .bottom{
    clear: both;
  } 
    
  #bottom-box{
    margin: 5%;  
  }

}



